{% extends "admin-base.html" %}
{% block head %}
{{ super() }}
<title>Promjena podataka | OSB</title>
{% endblock %}

{% block body %}

<div id="intro-example-page" class="text-center bg-image">
    <div class="mask-page" style="background-color: rgba(0, 0, 0, 0.7);">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white">
                <h1 class="mb-3">Promjena podataka</h1>
                <h5 class="mb-4">Pomoću forme promjenite podatke koje želite</h5>
            </div>
        </div>
    </div>
</div>

<div class="container">
    {% block content %}

    <form method="post">


        <div class="row">
            <div class="col">
                <label for="exampleFormControlTextarea1" class="form-label">Naziv izvođača</label>
                <input name="ime_izvodaca" value="{{request.form['ime_izvodaca']}}" type="text" class="form-control">
            </div>
        </div>


        <div class="row">
            <div class="col">
                <label for="exampleFormControlTextarea1" class="form-label">Opis koncerta</label>
                <textarea name="opis" class="form-control" id="exampleFormControlTextarea1"
                    value="{{request.form['opis']}}" rows="3"></textarea>
            </div>
        </div>


        <div class="row">
            <div class="col">
                <label for="exampleFormControlTextarea1" class="form-label">URL slike</label>
                <input name="slika" value="{{request.form['slika']}}" type="text" class="form-control"
                    placeholder="https://...">
            </div>
        </div>


        <div class="row">
            <div class="col">
                <label for="exampleFormControlTextarea1" class="form-label">Mjesto</label>
                <input name="mjesto" value="{{request.form['mjesto']}}" type="text" class="form-control"
                    id="inputAddress" placeholder="Arena, 52 100 Pula">
            </div>
        </div>


        <div class="row">
            <div class="col">
                <label for="exampleFormControlTextarea1" class="form-label">Datum</label>
                <input name="datum" value="{{request.form['datum']}}" type="date" id="example" class="form-control">
            </div>
        </div>


        <div class="row">
            <div class="col">
                <label for="exampleFormControlTextarea1" class="form-label">Vrijeme</label>
                <input name="vrijeme" value="{{request.form['vrijeme']}}" type="time" class="form-control">
            </div>
        </div>


        <div class="row">
            <div class="col">
                <label for="exampleFormControlTextarea1" class="form-label">Cijena</label>
                <input name="cijena" value="{{request.form['cijena']}}" type="text" class="form-control"
                    placeholder="150.00">
            </div>
        </div>


        <button id="button" class="btn btn-outline-dark btn-lg" type="submit">Spremi promjene</button>

    </form>
    {% endblock %}
</div>

{% endblock %}