{% extends "admin-base.html" %}
{% block head %}
{{ super() }}
<title>Pregled svih koncerata | OSB</title>
{% endblock %}

{% block body %}
<div id="intro-example-page" class="text-center bg-image">
    <div class="mask-page" style="background-color: rgba(0, 0, 0, 0.7);">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white">
                <h1 class="mb-3">Pregled svih koncerata</h1>
                <h5 class="mb-4">Odaberite koncert koji želite urediti</h5>
            </div>
        </div>
    </div>
</div>

<div class="container">

    {% block content %}
    {% for d in data[::-1] %}


    <div class="row" id="row-for-each">
        <div class="col text-center">
            <img src="{{d.slika}}" class="img-thumbnail">
        </div>
        <div class="col-5" id="main">
            <h2>{{d.ime_izvodaca}}</h2>
            <h4>{{d.naziv_koncerta}}</h4>
            <p>{{d.opis}}</p>
        </div>
        <div class="col">
            <p><b>{{d.mjesto}}</b></p>
            <p><b>{{d.datum}}</b></p>
            <p>{{d.vrijeme}} h</p>
            <p>{{d.kolicina_karata}}</p>
            <p>{{d.cijena}} kn</p>
            <p>{{d.kreirano}}</p>
            <a href="/admin/promjena-podataka/{{d.id}}" class="btn btn-outline-dark btn-lg m-2"> Uredi </a>
            <a href="/admin/brisanje-koncerta/{{d.id}}" class="btn btn-outline-dark btn-lg m-2"> Ukloni </a>
        </div>
    </div>


    {% endfor %}
    {% endblock %}

</div>
{% endblock %}