{% extends "user-base.html" %}
{% block head %}
{{ super() }}
<title>Koncert | OSB</title>
{% endblock %}

{% block body %}

<div id="intro-example-page" class="text-center bg-image">
    <div class="mask-page" style="background-color: rgba(0, 0, 0, 0.7);">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white">
                <h1 class="mb-3">Nekaj</h1>
                <h5 class="mb-4">Nekaj</h5>
            </div>
        </div>
    </div>
</div>

<div class="container">

    {% block content %}
    <div class="clearfix">
        <img src="{{data.slika}}" class="col-md-6 float-md-end mb-3 ms-md-3">

        <h3>{{data.ime_izvodaca}}</h3>
        <p>{{data.mjesto}}</p>
        <p>{{data.datum}} | {{data.vrijeme}} h</p>
        <p>{{data.cijena}} kn</p>
        <p>{{data.opis}}</p>
        <a href="/admin/brisanje-koncerta/{{id}}" class="btn btn-outline-dark btn-lg m-2"> Kupi kartu </a>
    </div>

    {% endblock %}

</div>

{% endblock %}