{% extends "user-base.html" %}
{% block head %}
{{ super() }}
<title>{{data.ime_izvodaca}} | OSB</title>
{% endblock %}

{% block body %}

<div id="intro-example-page" class="text-center bg-image">
    <div class="mask-page" style="background-color: rgba(0, 0, 0, 0.7);">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white">
                <h1 class="mb-3">{{data.ime_izvodaca}}</h1>
                <h5 class="mb-4">{{data.naziv_koncerta}}</h5>
            </div>
        </div>
    </div>
</div>

<div class="container">

    {% block content %}

    <div class="row">
        <div class="col text-center">
            <img src="{{data.slika}}" class="img-thumbnail">
        </div>
        <div class="col-5" id="main">
            <h2>{{data.ime_izvodaca}}</h2>
            <p><b>Naziv koncerta:</b> {{data.naziv_koncerta}}</p>
            <p>{{data.opis}}</p>
        </div>
        <div class="col">
            <p><b>Mjesto:</b> {{data.mjesto}}</p>
            <p><b>Datum:</b> {{data.datum}}</p>
            <p><b>Vrijeme:</b> {{data.vrijeme}} h</p>
            <p><b>Količina karata:</b> {{"Koncert rasprodan!" if data.kolicina_karata == 0 else data.kolicina_karata}}
            </p>
            <p><b>Cijena karte:</b> {{data.cijena}} kn</p>
            <a href="/user/potvrda/{{data.id}}" class="btn btn-outline-dark btn-lg m-2"> Kupi kartu </a>
        </div>
    </div>

    {% endblock %}

</div>

{% endblock %}